@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>
<div>
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create Category</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
            {
        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.DisplayOrder
            </td>
        </tr>
            }
    </tbody>
</table>
