
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["error"] as string;
}

<h1>Login</h1>
@if(!string.IsNullOrEmpty(error))
            {
                <h4 class="alert-danger">@error</h4>
            }
<form method="post" action="/login?ReturnUrl= @System.Net.WebUtility.UrlEncode(returnUrl)">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />

    <input type="submit" value="Login" />
</form>
